{box-sizing: border-box;
padding: 0;
margin: e;
font-family: "Open Sans", sans-serif;
font-weight: bold;}



:: placeholder {
color:rgb(221, 221, 221);
opacity: 0.3;}

.wrapper {
height: 100%;
width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background-color: Orgb(20, 19, 19);
transition: 0.8s all;}

h1 {
text-align: center;
margin-bottom: 1.5%;
color: #fff;}